<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>しりとらず</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<!-- header -->
	<header class="navbar navbar-inverse navbar-static-top">
		<nav class="container">
			<div class="navbar-header"><a href="" class="navbar-brand">しりとらず</a></div>
			<ul class="nav navbar-nav">
				<li><a href="">ルール</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="">ログイン</a></li>
			</ul>
		</nav>
	</header>

	<!-- content -->
	<div class="container text-center">
		<!-- word -->
		<h2 class="col-md-offset-2 text-left">今のワード</h2>
		<div id="screen">
			<span id="screen_word" style="font-size : 8em;">{{ words[0].word }}</span><br>
			<span id="screen_hiragana" style="font-size : 2em;">{{ words[0].hiragana }}</span><span class="text-danger" style="font-size : 2.5em;"></span>
		</div>

		<!-- submit -->
		<form id="word_submit" class="form-horizontal" style="margin : 20px 0" action="/" method="post">
			<div class="form-group">
				<div class="col-md-6 col-md-offset-2">
					<input type="text" name="word" class="form-control" placeholder="ワードを入れてください">
					<input type="hidden" name="token" value={{ token }} />
				</div>
				<input type="submit" class="btn btn-primary col-md-2" value="投稿">

			</div>
		</form>
		<div class="help-block">5分以内に2回連続して投稿することは出来ません
		</div>

		<!-- affiliate -->
		<div id="affiliate">
			「{{ words[0].word }}」でAmazon検索すると．．． <a href={{ words[0].amazon_link }}><img src={{ words[0].image_url }} alt="" style="width : 50px"></a>
		</div>

		<!-- table -->
		<div class="text-left">
			<h3>過去のワード</h3>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>No.</th><th>ワード</th><th></th><th>投稿日</th>
					</tr>
				</thead>

				<tbody>
					{% for word in words[1:] %}
					<tr>
						<td>{{ word.word_id }}</td>
						<td>{{ word.word }}</td>
						<td><a href={{ word.amazon_link }}><img src={{ word.image_url }} style="height : 30px;" alt="アマゾンの画像リンク"></a></td>
						<td>{{ word.created }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<a class="help-block">もっとみる</a>
		</div>
	</div>

	<!-- footer -->
	<footer class="navbar-inverse navbar-static-top">
		<div class="text-center">
			Copyright ...
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/_ah/channel/jsapi"></script>

	<script src="js/siritoraz.js"></script>
</body>
</html>